body{
	margin:0;
	padding:0;
	background-image:url("../images/cash.png");
	font-family:sans-serif;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	font-family:Candara;
	
}


.main{
	background-color:rgb(255,255,255,0.8);
	width:900px;
	height:auto;
	margin:auto;
	padding:20px;
}