.image{
	background-image:url(../images/form3.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:600px;
	-webkit-background-size:cover;
}


.wrapper{
	width: 400px;
	height: 420px;
	background-color: rgb(0,0,0,0.8);
	top: 300px;
	left: 50%;
	padding:60px 30px;
	margin-bottom:150px;
	position: relative;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #000;
	opacity:1;
}
.sign{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:22px;
	color:#fff;
	text-align:center;
	margin-bottom: 8%;
	font-family: Courgette;
}
.wrapper input{
	width:100%;
	margin-bottom:20px;
}
.wrapper input[type=text],.wrapper input[type=password]{
	border:none;
	border-bottom:1px solid #ddd;
	background: transparent;
	outline:none;
	height:30px;
	font-size:16px;
	opacity:1;
	color: #ccc;
}
.wrapper input[type=submit]{
	border:none;
	outline:none;
	height:40px;
	background: #f6648b;
	color:#fff;
	font-size:14px;
	font-weight:bold; 
}
.wrapper input[type=submit]:hover{
	cursor:pointer;
}
.wrapper a{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	opacity:0.8;
}
.wrapper a:hover{
	color:#fff;
	opacity:1;
}
.bottom-text{
	color:#fff;
}
.bottom-text input{
	width:10%;
	float:left;
}
.bottom-text a{
    float:right;
}	
.socials{
	margin-top:12%;
	text-align:center;
}
.socials a{
	width:30px;
	height:30px;
	display:inline-block;
	border:1px solid #fff;
	border-radius:50%;
	margin:0 5px; 
}
.socials a:nth-child(1){
	background: #3b5998;
}
.socials a:nth-child(2){
	background: #55acee;
}
.socials a:nth-child(3){
	background: #bd081c;
}
.socials a:nth-child(4){
	background: #0077b5;
}
.socials a i{
	padding: 8px 0;
}
#overlay-area{
	position:absolute;
	background-color:rgba(0,0,0,0.4);
	z-index: -5;
	height:100%;
	width:100%;
	top: 0;
	bottom: 0;
}